{% extends "base.html" %}

{% block title %} Comite de Ganaderos {% endblock %}\

{% block body %}

<div class="row">
    <div class=" col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <h2>Agregar Ingreso</h2>   
        <div class="card">
            <div class="card-body">
                <form action="/registrarIngreso/" id="registro-form" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <label>Cedula:</label>
                        <input  class="form-control" type="text" id="cedula" name="cedula"   maxlength="20" required >
                    </div>

                    <div class="form-group">
                        <label>Nombre y apellidos:</label>
                        <input  class="form-control" type="text" id="nombre_completo" name="nombre_completo"   maxlength="100" required >
                    </div>
                    
                    <div class="form-group">
                        <label>Direccion:</label>
                        <input  class="form-control" type="text" id="direccion" name="direccion"   maxlength="100" required>
                    </div>

                    <label for="tipo_pago">Metodo de pago:</label>
                    <select id="tipo_pago"  class="form-control" name="tipo_pago">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transaccion">Transaccion</option>
                        <option value="Consignacion">Consignacion Bancaria</option>
                    </select>

                    <div class="form-group">
                        <label>Valor:</label>
                        <input  class="form-control" type="number" id="valorIngreso" name="valorIngreso"   maxlength="20" required >
                    </div>

                    <div>
                        <label for="concepto">Concepto:</label>
                        <select id="concepto" class="form-control"  name="concepto">
                            <option value="Pago Vacunas">Pago Vacunas</option>
                            <option value="Abono Asociado">Abono Asociado</option>
                            <option value="Donaciones">Donaciones</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary  w-100 text-white">Guardar</button>
                    </div>    
                </form>

                              
            </div>
        </div> 
    </div>
    <div class=" col-sm-12 col-md-6 col-lg-9 col-xl-9">
        <h2>Lista de Ingresos</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>nIngreso</th>
                        <th>Tipo de Pago</th>
                        <th>Nombre</th>
                        <th>Fecha de Registro</th>
                        <th>Valor Ingreso</th>
                        <th>Concepto</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in ingresos %}
                    <tr>
                        <td>{{items.nIngreso}}</td>
                        <td>{{items.tipo_pago}}</td>
                        <td>{{items.usuario.nombre_completo}}</td>
                        <td>{{items.fecha|date:"d/m/Y"}}</td>
                        <td>{{items.valorIngreso}}</td>
                        <td>{{items.concepto}}</td>
                        <td><a href="edicionIngreso/{{items.nIngreso}}" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a></td>
                        <td><a href="eliminacionIngreso/{{items.nIngreso}}" class="btn btn-danger btnEliminacion"> <i class="fa-solid fa-trash-can"></i></a></td>
                        <td><a href="detalleIngreso/{{items.nIngreso}}" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></a></td>

                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    var verificarCedulaUrl = "{% url 'verificar_cedula' %}";
</script>
{% endblock %}
