{% extends "base.html" %}

{% block title %} Comite de Ganaderos {% endblock %}\

{% block body %}
<h2 style="text-align: center;">Detalle de Factura</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>nFactura</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Biologico</th>
                <th>Cantidades</th>
                <th>Lotes</th>
                <th>V. Total</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{factura.nFactura}}</td>
                <td>{{factura.usuario.cedula}}</td>
                <td>{{factura.usuario.nombre_completo}}</td>
                <td>
                    {% for biologico in factura.biologico %}
                        {{ biologico }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for cantidad in factura.cantidad_total %}
                        {{ cantidad }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for lote in factura.lote %}
                        {{ lote }}<br>
                    {% endfor %}
                </td>
                <td>{{factura.valor_total}}</td>
                <td>{{factura.fecha|date:"d/m/Y"}}</td>
            </tr>
        </tbody>

</div>
<div class="container">
    <table class="table table-striped" style="margin-left: 0;">
        <h2 style="text-align: center;">Precios Biologicos</h2>
        <thead>
            <tr>
                <th>Fiebre Aftosa</th>
                <th>Bruselosis Bovina(CEPA19)</th>
                <th>Otro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{factura.infoAftosa.valorUnidad}}</td>
                <td>{{factura.infoCepa.valorUnidad}}</td>
                <td>3000</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}