{% extends "base.html" %}

{% block title %} Comite de Ganaderos {% endblock %}
{% load static %}
{% block body %}


<div class="row">
    <div class=" col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <h2 style="text-align: center;">Facturar</h2>   
        <div class="card">
            <div class="card-body">
                <form action="/registrarFactura/" id="registro-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Cedula:</label>
                        <input  class="form-control" type="text" id="cedula" name="cedula"   maxlength="20" required >
                    </div>

                    <div class="form-group">
                        <label>Nombre y apellidos:</label>
                        <input  class="form-control" type="text" id="nombre_completo" name="nombre_completo"   maxlength="100" required >
                    </div>
                    
                    <div class="form-group">
                        <label>Direccion o Municipio:</label>
                        <input  class="form-control" type="text" id="direccion" name="direccion"   maxlength="100" required>
                    </div>
                
                    <div id="campo-principal" class="form-group" style="display: flex; gap: 10px; align-items: center;">
                        <div style="flex: 1;">
                            <label for="biologico">Biologico:</label>
                            <select id="biologico" class="form-control" name="biologico">
                                <option value="Aftosa">Aftosa</option>
                                <option value="Cepa19">Cepa19</option>
                                <option value="Rabia">Rabia</option>
                            </select>
                        </div>
                        <div style="flex: 1;">
                            <label for="cantidad">Cantidad:</label>
                            <input class="form-control" type="number" id="cantidad" name="cantidad[]" maxlength="20" required>
                        </div>
                        <div style="flex: 1;">
                            <label for="lote">Lote:</label>
                            <input class="form-control" type="number" id="lote" name="lote[]" maxlength="20" required>
                        </div>
                    </div>
                    
                    <div id="campos-adicionales"> </div>

                    <button type="button" onclick="addCantidadLoteFields()" style="margin-top: 12px;"><i class="fa-solid fa-plus"></i></button>
                    <div class="form-group" class="form-control">
                        <label>Total:</label>
                        <input class="form-control" type="number" id="total" name="total" maxlength="20" required>
                    </div>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100 text-white">Guardar</button>
                    </div>
                </form>   
            </div>
        </div> 
    </div>
    <div class=" col-sm-12 col-md-6 col-lg-9 col-xl-9">
        <h2 style="text-align: center;">Lista de Facturas</h2>
        <div style="text-align: right;">
        <td><a href="/egresos/descargarExcelEgresos/" class="btn btn-success">  <i class="fa-solid fa-download">&nbsp;</i><i class="fa-solid fa-file-excel"> </i></i></></a></td>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>nFactura</th>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Biologico</th>
                        <th>No Dosis</th>
                        <th>V. Unitario</th>
                        <th>V. Total</th>
                        <th>Fecha</th>
                        <th colspan="4">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in facturas %}
                    <tr>
                        <td>{{items.nFactura}}</td>
                        <td>{{items.usuario.cedula}}</td>
                        <td>{{items.usuario.nombre_completo}}</td>
                        <td>{{items.biologico}}</td>
                        <td>{{items.cantidad_aftosa}}</td>
                        <td>{{info.first.valorUnidad}}</td>
                        <td>{{items.valor_total}}</td>
                        <td>{{items.fecha|date:"d/m/Y"}}</td>
                        <td><a href="edicionEgreso/{{items.nEgreso}}" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a></td>
                        <td><a href="eliminacionEgreso/{{items.nEgreso}}" class="btn btn-danger btnEliminacion"> <i class="fa-solid fa-trash-can"></i></a></td>
                        <td><a href="detalleEgreso/{{items.nEgreso}}" class="btn btn-success"><i class="fa-solid fa-magnifying-glass"></i></a></td>
                        <td><a href="imprimirEgreso/{{items.nEgreso}}" onclick="abrirPopup(event, 'imprimirEgreso/{{items.nEgreso}}', 'Mi ventana emergente', 800, 1000)"  class="btn btn-dark"><i class="fa-solid fa-print"></i></i></i></a></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById('cantidad_aftosa').addEventListener('input', actualizarTotalAftosa);

    function actualizarTotalAftosa() {
        const cantidadAftosa = document.getElementById('cantidad_aftosa').value || 1;

        // Realiza la solicitud AJAX para obtener el valor unitario de Aftosa
        fetch('/obtener_valor_dosis_aftosa/')
            .then(response => response.json())
            .then(data => {
                if (data.valor_dosis) {
                    const totalAftosa = data.valor_dosis * cantidadAftosa;
                    document.getElementById('total').value = totalAftosa.toFixed(2);
                } else {
                    alert("Error: " + data.error);
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<script type="text/javascript">
    var verificarCedulaUrl = "{% url 'verificar_cedula' %}";
</script>

{% endblock %}