<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    function printTicket() {
        window.print(); // Abre la ventana de impresión
    }
</script>
<link rel="stylesheet" href="{%  static 'css/style_ticket.css' %}">
</head>
<body>
    <div class="ticket">
        <div class="header">
            <h1>COMUGASAN</h1>
            <p class="matricula">Número de Matrícula: 123456789</p>
            <p>SAN JUAN NEPOMUCENO</p>
            <p>Calle 18 No 15-33</p>
            <p>Factura No.{{factura.nFactura}}</p>
        </div>

        <div class="footer">
            <div class="row">
                <span class="label">Nº Factura:</span>
                <span class="value">{{factura.nFactura }}</span>
            </div>
            <div class="row">
                <span class="label">Concepto:</span>
                <span class="value">Venta de Vacunas</span>
            </div>
            <div class="row">
                <span class="label">Cantidad Aftosa:</span>
                <span class="value">{{ factura.cantidad_aftosa}}</span>
            </div>
            <div class="row">
                <span class="label">Cantidad Cepa19:</span>
                <span class="value">{{ factura.cantidad_cepa19}}</span>
            </div>
            <div class="row">
                <span class="label">Total a pagar:</span>
                <span class="value">{{ factura.valor_total}}</span>
            </div>

            <div class="row">
                <span class="label">Recibe:</span>
                <span class="value">{{ factura.usuario.nombre_completo }}</span>
            </div>
            <div class="row">
                <span class="label">Cedula:</span>
                <span class="value">{{ factura.usuario.cedula }}</span>
            </div>
            <div class="row">
                <span class="label">Fecha:</span>
                <span class="value">{{ factura.fecha }}</span>
            </div>
        </div>
    </div>
    <div>
        <p>EXPEDIDO POR:</p>
        <p>Comite de Ganaeros de San Juan</p>
        <p>COMUGASAN </p>
        <p>Rafael Santos P</p>
        <p>Secretaria </p>

    </div>
</body>
</html>
