<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    function printTicket() {
        window.print(); // Abre la ventana de impresión
    }
</script>
<link rel="stylesheet" href="{%  static 'css/style_ticket.css' %}">
</head>
<body>
    <div class="ticket">
        <div class="header">
            <h1>COMUGASAN</h1>
            <p class="matricula">Número de Matrícula: 123456789</p>
            <p>SAN JUAN NEPOMUCENO</p>
            <p>65653</p>
            <p>{{egreso.nEgreso}}</p>
        </div>

        <div class="footer">
            <div class="row">
                <span class="label">Nº Egreso:</span>
                <span class="value">{{egreso.nEgreso }}</span>
            </div>
            <div class="row">
                <span class="label">Tipo de Pago:</span>
                <span class="value">{{ egreso.tipo_pago }}</span>
            </div>
            <div class="row">
                <span class="label">Valor:</span>
                <span class="value">{{ egreso.valorEgreso }}</span>
            </div>
            <div class="row">
                <span class="label">Concepto:</span>
                <span class="value">{{ egreso.concepto }}</span>
            </div>
            <div class="row"></div>
                <span class="label">Concepto:</span>
                <span class="value">{{ egreso.concepto }}</span>
            </div>
            <div class="row">
                <span class="label">Recibe:</span>
                <span class="value">{{ egreso.recibe }}</span>
            </div>
            <div class="row">
                <span class="label">Revisa:</span>
                <span class="value">{{ egreso.revisado }}</span>
            </div>
            <div class="row">
                <span class="label">Fecha:</span>
                <span class="value">{{ egreso.fecha }}</span>
            </div>
        </div>
    </div>
    <div>
        <p>EXPEDIDO POR:</p>
        <p>Comite de Ganaeros de San Juan</p>
        <p>COMUGASAN </p>
        <p>Rafael Santos P</p>
        <p>Secretaria </p>

    </div>
</body>
</html>
